h1{
  font-family: 'Raleway';
}

h2{
  font-family: 'Raleway';
}

.about{
  background-color: white;
}

img{
  text-align: center;
  border: solid black;
  margin: 0.4rem 0  0 2.1rem;
}

body{
  background-color: white;
  font-family: 'roboto';
}