h1 {
  font-family: 'Raleway'; }

h2 {
  font-family: 'Raleway'; }

.about {
  background-color: white; }

img {
  text-align: center; }

body {
  background-color: snow;
  height: 300vh; }

.projects-section {
  text-align: center;
  border: solid black; }

/*

    about
    -make pictures for different skills
    -use waypoints for fadein when scrolled
    -make sure that pictures are centered over the text
    -

*/
.about {
  border: solid black; }
  .about .about_text-title {
    font-family: 'Raleway';
    margin: 50px; }
  .about .about_text-description {
    padding: 30px 0 30px 0;
    font-family: 'roboto'; }

/*

    hero image
    -make the greeting legable
    -maybe make typed out or variation
    -possibly blur image a bit

*/
.has-bg-img {
  background: url("../images/laptop.jpg") center center;
  background-size: cover; }

/*

  mobile navigation
    -fixed to top
    -when clicked is the one third height and width of the container
    -background color is darker with a little opacity
    -text underlined and change color transition when hovered

*/
.navbar_custom {
  width: 100%;
  padding-top: 5px;
  height: 73px;
  top: 0;
  background-color: #303A52;
  border-bottom: 2px solid #6b59ef; }
  .navbar_custom .navbar_custom_about {
    font-family: "roboto";
    font-weight: 400;
    font-size: 1rem;
    margin: 20px 80px 20px 0;
    position: relative;
    text-decoration: none;
    padding: 0 !important;
    color: snow;
    -webkit-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s; }
  .navbar_custom .navbar_custom_about:hover {
    background: none;
    color: #9E579D; }
  .navbar_custom .navbar_custom_about:hover {
    background: none;
    color: #9E579D; }
  .navbar_custom .navbar_custom_about:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9E579D;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .navbar_custom .navbar_custom_about:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .navbar_custom .navbar_custom_portfolio {
    font-family: "roboto";
    font-weight: 400;
    font-size: 1rem;
    margin: 20px 80px 20px 0;
    position: relative;
    text-decoration: none;
    padding: 0 !important;
    color: snow;
    -webkit-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s; }
  .navbar_custom .navbar_custom_portfolio:hover {
    background: none;
    color: #9E579D; }
  .navbar_custom .navbar_custom_portfolio:hover {
    background: none;
    color: #9E579D; }
  .navbar_custom .navbar_custom_portfolio:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9E579D;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .navbar_custom .navbar_custom_portfolio:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }
  .navbar_custom .navbar_custom_contact {
    font-family: "roboto";
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    text-decoration: none;
    padding: 0 !important;
    margin: 20px 80px 20px 0;
    color: snow;
    -webkit-transition: color 0.5s;
    -ms-transition: color 0.5s;
    transition: color 0.5s; }
  .navbar_custom .navbar_custom_contact:hover {
    background: none;
    color: #9E579D; }
  .navbar_custom .navbar_custom_contact:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9E579D;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .navbar_custom .navbar_custom_contact:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.collapse {
  animation: collapse .5s ease forwards; }

.open {
  animation: open .5s ease forwards; }

@keyframes collapse {
  from {
    opacity: 1;
    top: 0; }
  to {
    opacity: 0;
    top: -73px; } }
@keyframes open {
  from {
    opacity: 0;
    top: -73px; }
  to {
    opacity: 1;
    top: 0; } }

/*# sourceMappingURL=styles.css.map */
