.about{
/* add line height and some other styles to about */
  background-color: blue;

  &__wrapper{
    border: solid black;
    margin-top: 5px;
    display: block
  }

  &__title{
    margin-bottom: 40px;
  }

  &__description{
    font-size: 1rem;
    font-family: 'Roboto';
    line-height: 1.6;
  }

/* all of the styling for the resume section */
  &__resume{

    &__title{

    }


    &__picture{

    }

    &__download{

    }
  }
}
