
/*

    about
    -make pictures for different skills
    -use waypoints for fadein when scrolled
    -make sure that pictures are centered over the text
    -

*/

.about{
    border: solid black;

    .about_text-title{
        font-family: 'Raleway';
        margin: 50px;
    }

    .about_text-description{
        padding: 30px 0 30px 0;
        font-family: 'roboto';
    }
}