
/*

    about
    -make pictures for different skills
    -use waypoints for fadein when scrolled
    -make sure that pictures are centered over the text
    -fill in the white space for the title using margin or padding
    -change some of the font-size and the weight
    -type out rough draft of what will go on the about section

*/

.about{

    .about_text-title{
        margin: 50px;
        color: $color-accent;
        font-size: 2.5rem;
        border: solid black;

    }

    .about_text-subtitle{
        margin: 50px;
        color: #4e4e63;
        border: solid black;

        
    }

    .about_text-description{
        padding: 30px 0 30px 0;
        border: solid black;
    }

    
}

img .about_img{
    border: solid black;
}