.large-hero{

  &__image{
    display: none;
    width: 100%;

    @mixin atMedium{
      display: block;
      position: relative;
    }
  }

  &__image-mobile{
    display: block;
    width: 100%;
    position: relative;

    @mixin atMedium{
      display: none;
    }
  }

  &__text-content{
		position: absolute;
		top: 40%;
		transform: translateY(-50%);
		left: 28%;
		text-align: center;
		padding-top: 88px;

    @mixin atSmall{
      top: 60%;
      left: 32%;
    }

		@mixin atMedium{
      top: 30%;
      left: 68%;
		}

    @mixin atLarge{
      top: 34%;
      left: 70%;
		}

    @mixin atLargest{
      top: 44%;
      left: 70%;
		}
	}

  &__title{
    font-family: $title-font;
    color: white;
    padding-top: 30px;
    font-size: 3rem;

    @mixin atSmall{
      font-size: 4rem;
      padding-top: 80px;
    }

    @mixin atMedium{
      color: #333;
      font-size: 1.8rem;
      left: 26%;
      padding-top: 30px;
    }

    @mixin atLarge{
      top: 2%;
      right: 2%;
      font-size: 2rem;
      left: 28%;

    }

    @mixin atLargest{
      font-size: 2.4rem;
    }
  }

}
