
//  regular navigation bar
//  gradient when at the top of the page
//  scroll to half way down and menu shrinks becomes regular size when back at top 
//  highlight or underline the page you are on





.navbar_custom{
    width: 100%;
    padding-top: 5px;  
    height: $navBar-height;
    top: 0;
    background-color: $color-primary-dark;
    border-bottom: 2px solid $color-accent;

    .navbar_custom_about{
        font-family: $font_family;
        font-weight: $weight;
        font-size: $font_start;
        margin-right: $margin_right;
        color: snow;
        @include transition(font-size .5s);
    }

    .navbar_custom_about:hover{
        background: $background;
        color: $color;
        font-size: $font_end;
    }

    .navbar_custom_portfolio{
        font-family: $font_family;
        font-weight: $weight;
        font-size: $font_start;
        margin-right: $margin_right;
        color: snow;
        @include transition(font-size .5s);
    }

    .navbar_custom_portfolio:hover{
        background: $background;
        color: $color;
        font-size: $font_end;
    }

    .navbar_custom_contact{
        font-family: $font_family;
        font-weight: $weight;
        font-size: $font_start;
        margin-right: $margin_right;
        color: snow;
        @include transition(font-size .5s);
    }

    .navbar_custom_contact:hover{
        background: $background;
        color: $color;
        font-size: $font_end;
    }

}

// Collapse nav bar on scroll down
.collapse {
    animation: collapse .5s ease forwards;
  }
  
  // Open nav bar on scroll up
  .open {
    animation: open .5s ease forwards;
  }
  
  @keyframes collapse {
    from {
      opacity: 1;
      top: 0;
    }
    to {
      opacity: 0;
      top: -$navBar-height;
    }
  }
  
  @keyframes open {
    from {
      opacity: 0;
      top: -$navBar-height;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }