.primary-nav{

  &__list{
    text-align: center;
    font-family: 'Kepler Std Display';
    width: 100%;

    &-item{
      font-family: 'Kepler STD Display';
      list-style-type: none;
      font-size: 3.5rem;

      @mixin atMedium{
        display: inline;
        font-size: 1.1rem;
      }

      @mixin atLarge{
        font-size: 1.2rem;
      }
    }
  }
}
