.site-header{

  &__menu-icon{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 5;

    &__top{
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: #FFF;
    }

    &__middle{
      /* z-index: 6; */
      position: absolute;
      top: 8px;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: #FFF;
    }

    &__bottom{
      /* z-index: 6; */
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: #FFF;
    }

    @mixin atMedium{
      display: none;
    }
  }

}
