// Navigation
$font_start: 1rem;
$font_end: 1.2rem;
$weight: 200;
$color: black;
$font_family: 'roboto';
$background: none;
$margin_right: 80px;
$navBar-height: 73px;
$color-primary-dark: #303A52;
$color-accent: #9E579D;