// Navigation
$font_start: 1rem;
$font_end: 1.2rem;
$weight: 400;
$color: #9E579D;
$font_family: 'roboto';
$background: none;
$margin_right: 80px;
$margin_top: 20px;
$margin_bottom: 20px;
$navBar-height: 73px;
$color-primary-dark: #303A52;
$color-accent: #6b59ef;